@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Roboto:wght@900&display=swap');


:root {
  --clr-pri:rgb(123, 175, 212, 0.75);
  --clr-sec: rgb(174, 213, 178, 0.75);
  --clr-ter: #EDFF00;
  --clr-blck: #000;
  --clr-whte: #fff;
  --clr-sec-opa: #EBF5EC;
  --clr-ter-opa: #FBFFBF;

  --sp-xs: 0.5rem;
  --sp-s: 1rem;
  --sp-m: 2rem;
  --sp-l: 4rem;
  --sp-xl: 8rem;
  --sp-xxl: 12rem;

  --ff-pri: 'Manrope', sans-serif;
  --ff-sec: 'Roboto', sans-serif;


  --fs-xs: 0.8rem;
  --fs-s: 1rem;
  --fs-m: clamp(1.1rem, 1vw + 0.8rem, 1.8rem);
  --fs-l: clamp(1.7rem, 1.8vw + 1rem, 2.6rem);
  --fs-xl: clamp(2.3rem, 3.54vw + 1rem, 3.2rem);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.body {
  font-family: var(--ff-pri);
}

body {
  background-color: var(--clr-whte);
}

img {
  max-width: 100%;
}


h1 {
  font-family: var(--ff-sec);
  font-size: var(--fs-xl);
  font-weight: normal;
  color: var(--clr-blck);
  
  line-height: 1.1;
}

h2 {
  font-family: var(--ff-sec);
  font-size: var(--fs-l);
  font-weight: bold;
  color: var(--clr-blck);
  line-height: 1.1;
  width: fit-content;
  margin: auto;
  margin-top: var(--sp-l);
text-transform: uppercase
}

h3 {
    font-family: var(--ff-sec);
    font-size: var(--fs-m);
    font-weight: bold;
    color: var(--clr-blck);
    line-height: 1.1;
    width: fit-content;

    margin-top: var(--sp-l);
  text-transform: uppercase
  }


h4 {
  font-family: var(--ff-pri);
  font-size: var(--fs-m);
  font-weight: 600;
  line-height: 1.1;
}

p {
    font-family: var(--ff-pri);
    font-weight: 400;
    font-size: var(--fs-s);
    line-height: 1.4;
  max-width: 62ch;
}


.bigmargin {
    margin: auto;
    width: auto;
    background-color: var(--clr-sec);
    padding: var(--sp-xl);
    height: 600px;
}

.bigmargin h1 {
    width: 600px; 
    font-size: 5rem;   
}

.bigmargin h2 {
    margin: 0;
    margin-top: 2rem;
}

.graph {
    position: relative;
    margin: auto 15% auto 15%;
    background-image: url(/img/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 502px;
    margin-top: var(--sp-s);
    overflow-x: scroll;
    overflow-y: hidden;
}

#graph_line {
    position: absolute;
    height: 100%;
    margin: auto;
    max-width: max-content;
    left: 0px;
}

.smallflex {
display: flex;
flex-direction: column;
width: fit-content;
margin: auto;
}

.heading2style {
margin: 5% 15% auto 15%;
}

.smallflex h3 {
    padding: var(--sp-s);
    background-color: var(--clr-sec-opa);
}

.smallflex p {
   width: auto;
    margin-top: var(--sp-s);
}

.smallflex .h32nd {
    background-color: var(--clr-ter-opa);
}

.imgflex {
    margin-left: 15%;
    margin-top: 5rem;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
}

#bag_on_grass {
    width: 500px;
}

.text-on-top-blue {
    background-color: rgb(123, 175, 212);
    max-width: 600px;
    padding: var(--sp-m);
    position: absolute;
    right: 15%;
    top: 2400px;
}
.text-on-top-blue h3 {
    margin-top: 0;
}

#panni {
    width: 500px;
    margin-top: var(--sp-xl);
    margin-left: auto;
}

.text-on-top-yellow {
    background-color: #FBFFBF;
    max-width: 600px;
    padding: var(--sp-m);
    position: absolute;
    left: 15%;
    top: 3100px;
}

.text-on-top-yellow h3 {
    margin-top: 0;
}

#flying-bag {
    width: 500px;
    margin-top: var(--sp-m);
    
}

.text-on-top-green {
    background-color: var(--clr-sec-opa);
    max-width: 600px;
    padding: var(--sp-m);
    position: absolute;
    right: 15%;
    top: 3800px;   
}

.text-on-top-green h3 {
    margin-top: 0;
}
