@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&family=Roboto:wght@900&display=swap");

:root {
  --clr-pri: #7bafd4;
  --clr-sec: #aed5b2;
  --clr-ter: #edff00;
  --clr-blck: #000;
  --clr-whte: #fff;
  --clr-sec-opa: #ebf5ec;
  --clr-ter-opa: #fbffbf;

  --sp-xs: 0.5rem;
  --sp-s: 1rem;
  --sp-m: 2rem;
  --sp-l: 4rem;
  --sp-xl: 8rem;
  --sp-xxl: 12rem;

  --ff-pri: "Manrope", sans-serif;
  --ff-sec: "Roboto", sans-serif;

  --fs-xs: 0.8rem;
  --fs-s: 1rem;
  --fs-m: clamp(1.1rem, 1vw + 0.8rem, 1.8rem);
  --fs-l: clamp(1.7rem, 1.8vw + 1rem, 2.6rem);
  --fs-xl: clamp(3.2rem, 3.54vw + 1rem, 4rem);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  color: #000;
}
.body {
  font-family: var(--ff-pri);
  overflow-x: hidden;
}
.hiwwa {
  margin: 5% 15% auto 15%;
}
.hidden {
  display: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
body {
  background-color: var(--clr-whte);
  font-family: var(--ff-pri);
}

img {
  max-width: 100%;
}
li,
a {
  text-decoration: none;
}

h1 {
  font-family: var(--ff-sec);
  font-size: var(--fs-xl);
  font-weight: normal;
  color: var(--clr-blck);
  line-height: 1.1;
}

h2 {
  font-family: var(--ff-sec);
  font-size: var(--fs-l);
  font-weight: bold;
  color: var(--clr-blck);
  line-height: 1.1;
  width: fit-content;
  margin: auto;
  margin-top: var(--sp-l);
  text-transform: uppercase;
}

h3 {
  font-family: var(--ff-sec);
  font-size: var(--fs-m);
  font-weight: bold;
  color: var(--clr-blck);
  line-height: 1.1;
  width: fit-content;

  margin-top: var(--sp-l);
  text-transform: uppercase;
}

h4 {
  font-family: var(--ff-pri);
  font-size: var(--fs-xs);
  font-weight: 600;
  line-height: 1.1;
  color: var(--clr-whte);
  text-transform: uppercase;
  margin-bottom: var(--sp-s);
}

p {
  font-family: var(--ff-pri);
  font-weight: 300;
  font-size: var(--fs-s);
  line-height: 1.4;
  max-width: 62ch;
}

.bigmargin {
  margin: auto;
  width: auto;
  background-image: url(/img/header_img.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: var(--sp-xl);
  height: 600px;
}

/* .bigmargin h1 {
  font-size: 5rem;
} */

.bigmargin h2 {
  margin: 0;
  margin-top: 2rem;
}

.graph {
  position: relative;
  margin: auto 15% auto 15%;
  background-image: url(/img/background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 502px;
  margin-top: var(--sp-s);
  overflow-x: scroll;
  overflow-y: hidden;
  z-index: -10;
}

.graph p {
  margin: auto;
  padding-top: 15%;
  width: fit-content;
  position: relative;
  margin: auto 15% auto 15%;
  background-image: url(/img/background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 502px;
  margin-top: var(--sp-s);
  overflow-x: scroll;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#graph_line {
  position: absolute;
  height: 100%;
  margin: auto;
  max-width: max-content;
  left: 0px;
}

.smallflex {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
}

.heading2style {
  margin: 5% 15% auto 15%;
}

.smallflex h3 {
  padding: var(--sp-s);
  background-color: var(--clr-sec-opa);
}

.smallflex p {
  width: auto;
  margin-top: var(--sp-s);
}

.smallflex .h32nd {
  background-color: var(--clr-ter-opa);
}

.imgflex {
  margin-left: 15%;
  margin-top: 5rem;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
}

#bag_on_grass {
  width: 500px;
  z-index: -10;
}

.text-on-top-blue {
  background-color: rgb(123, 175, 212);
  max-width: 600px;
  padding: var(--sp-m);
  position: absolute;
  right: 15%;
  top: 2400px;
  z-index: -1;
}
.text-on-top-blue h3 {
  margin-top: 0;
}

#panni {
  width: 500px;
  margin-top: var(--sp-l);
  margin-left: auto;
  z-index: -10;
}

.text-on-top-yellow {
  background-color: #fbffbf;
  max-width: 600px;
  padding: var(--sp-m);
  position: absolute;
  left: 15%;
  top: 3100px;
  z-index: -1;
}

.text-on-top-yellow h3 {
  margin-top: 0;
}

#flying-bag {
  width: 500px;
  margin-top: var(--sp-m);
  z-index: -10;
}

.text-on-top-green {
  background-color: var(--clr-sec-opa);
  max-width: 600px;
  padding: var(--sp-m);
  position: absolute;
  right: 15%;
  top: 3800px;
  z-index: -1;
}

.text-on-top-green h3 {
  margin-top: 0;
}

/* ////////////// NAV BAR and BURGER MENU  ////////// */
.header-bar {
  background-color: var(--clr-pri);
  display: flex;
  justify-content: space-between;
  padding-top: var(--sp-xs);
  padding-bottom: var(--sp-xs);
  padding-left: var(--sp-m);
  padding-right: var(--sp-m);
  font-size: var(--fs-xs);
  font-family: var(--ff-pri);
  color: var(--clr-whte);
}
.nav-bar {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.nav-bar ul a {
  padding-left: 2rem;
  color: var(--clr-blck);
  font-size: 1rem;
}
#logo img {
  height: 24px;
  width: 10.219rem;
  margin-left: auto;
  margin-right: auto;
  top: 8%;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 100;
  position: fixed;
}

.nav-icons {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.nav-icons {
  padding-right: 2rem;
}

.nav-icons a {
  padding-right: 1rem;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  margin: 0 auto;
  background-color: var(--clr-whte);
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}
#navLogo img {
  margin-left: auto;
  margin-right: auto;
  height: 24px;
  width: auto;
  left: 0;
  right: 0;
}
.burgerListitems li {
  padding-bottom: 1rem;
}
.burgerListitems {
  padding-top: 1.6rem;
}
.burgerMenuItems {
  z-index: 10;
}
.overlay {
  height: 100vh;
  width: 100vw;
  background-color: white;
  opacity: 100%;
  position: fixed;
  z-index: -1;
  overflow: hidden;
}

/* //////////////////// */

.materialgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: var(--sp-m);
  margin: 0 15% 5% 15%;
}

.materials {
  margin-top: 15%;
}

.materialgrid h3 {
  margin: 3rem auto 1rem auto;
}

.materialgrid img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.materialgrid .leaf {
  border: solid 2px rgb(211, 211, 211);
}

.footerflex {
  margin-top: var(--sp-m);
  background-color: var(--clr-pri);
}

footer h4,
footer p {
  color: var(--clr-whte);
}

footer p {
  font-family: var(--ff-pri);
  font-weight: 100;
  font-size: var(--fs-xs);
  line-height: 2;
  max-width: 62ch;
}

.firstflex {
  display: flex;
  gap: var(--sp-xl);
  padding: 10% 5% 0 5%;
}

.width {
  width: 180px;
}

footer ul li {
  color: var(--clr-whte);
  font-family: var(--ff-pri);
  font-weight: 100;
  font-size: var(--fs-xs);
  line-height: 2;
  max-width: 62ch;
}

footer span {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1.5px solid rgba(223, 223, 223, 0.11);
}

footer span input {
  background: none;
  border: none;
  line-height: 28px;
  font-size: 14px;
  color: var(--clr-whte);
}

input.email {
  width: 80%;
}

input.signup {
  cursor: pointer;
}

::placeholder {
  color: #9bb9cf;
}

::placeholder,
input {
  padding: 0.3rem;
}

form {
  padding: 1rem 0 3rem;
}

.secondflex {
  display: flex;
  justify-content: space-between;
  padding: 5% 5% 4% 5%;
}

.width ul li:hover {
  cursor: pointer;
  opacity: 50%;
}

.terms {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.terms p:hover {
  cursor: pointer;
  opacity: 50%;
}

.cards {
  display: flex;
  gap: 5px;
}

.cards img {
  height: 15px;
  cursor: pointer;
}

.tandc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.buttomleft {
  width: fit-content;
}

.socialmedia {
  display: flex;
  gap: 15px;
}

.socialmedia img {
  height: 15px;
}

.socialmedia img:hover {
  opacity: 50%;
  cursor: pointer;
}

/* ///////// PRODUCT LIST STYLE ////////// */

.productlistmain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 8rem;
}

.productlistmain .bagInfo .bagName {
  font-family: var(--ff-pri);
  font-weight: 600;
  font-size: var(--fs-s);
  margin-top: var(--sp-s);
}

.productlistmain .bagarticle:hover {
  position: relative;
  cursor: pointer;
  transform: scale(1.05);
  opacity: 70%;
}

.productlistmain .bagInfo .price {
  font-family: var(--ff-pri);
  font-weight: 100;
  font-size: var(--fs-xs);
  margin-top: 0.5rem;
}

/* /////// THIS IS PRODUCT VIEW ///////// */

#productView {
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 3rem;
  margin-left: 3rem;
  margin-right: 15rem;
  margin-top: 8rem;
}

#productView article img {
  width: 100%;
}
#productView section.bagInfo {
  margin-top: 6rem;
}

#productView section.bagInfo h1 {
  font-family: var(--ff-pri);
  font-size: var(--fs-m);
}

#productView section.bagInfo .bagPrice {
  margin-top: 1rem;
}
#productView section.bagInfo .description {
  margin-top: 1rem;
  color: #7d7d7d;
  margin-bottom: 5rem;
}

#productView section.bagInfo .bagColor {
  margin-bottom: 3rem;
}

#productView section.bagInfo .quantity input {
  border: 1px solid rgba(0, 0, 0, 0.11);
  border-radius: 0;
  width: 20%;
  line-height: 2rem;
}

#productView section.bagInfo .quantity button {
  color: var(--clr-whte);
  background-color: black;
  border: none;
  line-height: 2rem;
  padding: 0.3rem;
  width: 75%;
  margin-left: 3%;
  cursor: pointer;
}

.toggleItem {
  border-top: solid 1px rgba(0, 0, 0, 0.11);
  margin-top: 3rem;
}

.toggleItem h5 {
  line-height: 3rem;
}

.toggleInner p {
  margin-top: 1rem;
  color: #7d7d7d;
}

.toggleInner p.dandr {
  border-bottom: solid 1px rgba(0, 0, 0, 0.11);
  padding-bottom: 1rem;
}

/* ////////// MEDIA QUERIES/////////// */
@media only screen and (max-width: 1200px) {
  .text-on-top-green {
    /*  margin-right: -15%;
    margin-left: 15%;
    position: relative;
    top: 0; */
    position: relative;
    top: 0;
    margin-left: 15%;
  }
}
@media only screen and (max-width: 1100px) {
  .materialgrid {
    grid-template-columns: 1fr 1fr;
    margin: 0 10% 5% 10%;
    row-gap: var(--sp-s);
  }
}

@media only screen and (max-width: 999px) {
  .firstflex {
    display: grid;
    gap: 4rem;
  }
  .sign-up {
    width: 50vw;
  }
}
@media only screen and (max-width: 1300px) {
  .burgerMenuItems {
    display: block;
  }
  .burgerMenuNav {
    display: block;
  }
  .burgerMenu {
    /* padding-left: 2rem;
    padding-top: 1rem; */
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .display-icon {
    display: none;
  }

  .nav-bar {
    display: none;
  }
  .materialgrid {
    grid-template-columns: 1fr;
    margin: 0 15% 5% 15%;
    row-gap: var(--sp-m);
  }
}
@media only screen and (max-width: 857px) {
  .text-on-top-blue {
    margin-left: 15%;
    width: 100%;
    position: relative;

    top: 0;
  }
  #bag_on_grass {
    width: 100%;
  }
  .text-on-top-yellow {
    width: 100%;
    position: relative;
    margin-left: -15%;
    top: 0;
  }
  .text-on-top-green {
    margin-right: -15%;
    margin-left: 15%;
    position: relative;
    top: 0;
  }
  #panni {
    /*  margin-left: 15%; */
    margin-right: 15%;
    width: 100%;
  }
  .imgflex {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4rem;
  }
  #flying-bag {
    width: 100%;
    margin-top: var(--sp-l);
  }
}
@media only screen and (max-width: 699px) {
  .smallflex {
    padding-left: var(--sp-m);
    padding-right: var(--sp-m);
  }
  .margin-sides {
    margin: 10% 15% auto 15%;
  }
  .secondflex {
    flex-direction: column;
    row-gap: 2rem;
  }
}
@media only screen and (max-width: 599px) {
  .landing-title {
    min-width: 20ch;
    font-size: var(--fs-xl);
  }
  #logo img {
    width: 8.219rem;
    height: 1.206rem;
  }
  .nav-icons {
    padding-right: 1rem;
  }
  .header-span:nth-child(2) {
    display: none;
  }
}
